<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goockr.nakedeyeguard">
    <!-- 允许设置时区-->
    <uses-permission android:name="android.permission.SET_TIME_ZONE"></uses-permission>
    <uses-permission android:name="android.permission.SET_TIME"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"></uses-permission>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPage.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".HealingProcessPage.HealingProcessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TipsPage.TipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.WifiPage.WifiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingPage.SetTimeActivity"

            android:screenOrientation="portrait" />
        <activity android:name=".FirstUsePage.FirstActivty" android:screenOrientation="portrait"/>
        <activity android:name=".StartActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SettingPage.WifiPage.MyNetworkStateService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>